<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<p>All fields are required.</p>
<form class="register-form" action="/account/register" method="POST">
  <div>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="account_firstname" required>
  </div>
  <div>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="account_lastname" required>
  </div>
  <div>
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="account_email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="account_password" required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{12,}$">
  </div>
  <div>
    <input type="checkbox" id="toggle-password-checkbox"
      class="toggle-password-checkbox">
    <label for="toggle-password-checkbox" id="toggle-password-label">
      <span>Show Password</span>
    </label>
  </div>
  <span class="error-message">Password must be at least 12 characters long and
    contain 1 uppercase letter and 1 lowercase letter, 1 number, and a special
    character.</span>

  <button type="submit">Register</button>
</form>
<script src="/js/script.js"></script>