<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to homepage">CSE Motors</a>
  </span>
  <div id="tools">
    <a title="Click to log ni" href="/account/login">MY ACCOUNT</a>
  </div>
</header>