<section>
  <h1>Welcome to CSE Motors!</h1>
  <img src="/public/images/vehicles/delorean.jpg"
    alt="hero image for home page">
  <div class="overlay-hero">
    <h1>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <a href="#">
      <img src="/public/images/site/own_today.png" alt="own today button">
    </a>
  </div>
</section>

<section class="upgrade-n-reviews">
  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <a href>
      <img src="/public/images/upgrades/flux-cap.png"
        alt="flux capacitor image">
      <span>Flux Capacitor</span>
    </a>
    <a href>
      <img src="/public/images/upgrades/flame.jpg" alt="flames icon image">
      <span>Flame Decals</span>
    </a>
    <a href>
      <img src="/public/images/upgrades/bumper_sticker.jpg"
        alt="Bumper sticker image">
      <span>Bumper Stickers</span>
    </a>
    <a href>
      <img src="public/images/upgrades/hub-cap.jpg" alt="hub caps image">
      <span>Hub Caps</span>
    </a>
  </div>

  <div class="reviews">
    <h2>Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time."(4/5)</li>
      <li>"Coolest ride on the road."(4/5)</li>
      <li>"I'm feeling McFly!"(5/5)</li>
      <li>"The most futuristic ride of our day."(4.5/5)</li>
      <li>"80's livin and I love it!"(5/5)</li>
    </ul>
  </div>
</section>
