<h1><%= title %></h1>

<%- messages() %>

<p>FIELD IS REQUIRED.</p>
<form class="add-class-form" action="add-classification" method="POST">

  <label for="classification-name">Classification Name</label>
  <span class="error-message">NAME MUST BE ALPHABETIC CHARACTERS ONLY.</span>
  <input
    type="text"
    id="classification-name" name="classification_name"
    required pattern="[A-Za-z]+">
  <button type="submit">Add Classification</button>
</form>