<% if (title) { %>
<h1><%= title %></h1>
<% } else {
res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<a class="v-mgt" href="inv/add-classification">Add New
  Classification</a>
<a class="v-mgt" href>Add New Vehicle</a>
